* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ebebeb;
}

.card {
    width: 370px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}

.card-header {
    background-color: #E5A52F;
    height: 32px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 30px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 24px;
}

.sort-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.sort-icon {
    width: 24px;
    height: 15px;
    cursor: pointer;
}

.sort-icon:hover path,
.sort-icon:hover rect {
    fill: #000000;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.task-input {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    padding: 0 40px 0 16px;
    font-size: 16px;
}

.add-btn {
    position: relative;
    background-color: #9953F1;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    width: 220px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    opacity: 0.9;
}

.icon-plus {
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: #AA68FE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.add-btn .btn-text {
    margin-left: 24px;
}

.task-list {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #d1d5db;
    padding: 8px 15px 8px 15px;
    border-radius: 8px;
}

.task-item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.task-text {
    word-break: break-all;
    font-size: 16px;
    color: #333;
}

.edit-task-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
}

.save-icon {
    display: none;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.hidden {
    display: none !important;
}

.edit-icon:hover rect,
.save-icon:hover rect {
    filter: brightness(0) saturate(100%) invert(43%) sepia(85%) saturate(2250%) hue-rotate(248deg) brightness(95%) contrast(98%);

}


.delete-icon:hover rect {
    fill: #9953F1;
}

.delete-icon:hover path {
    stroke: #FFFFFF;
}

.clear-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-btn:hover svg circle {
    fill: #9953F1;
}

.clear-btn:hover svg path {
    stroke: #FFFFFF;
}

.task-item.editing .task-text,
.task-item.editing .edit-icon {
    display: none;
}

.task-item.editing .edit-task-input,
.task-item.editing .save-icon {
    display: block;
}